body {
    padding: 10px;
    margin: auto;
    max-width: 200mm;
    font-family: arial;
    line-height: 128%;
}

img {
    max-width: 100%;
    height: auto;
}

ul.nav {
    margin: 0;
    padding: 0;
    font-variant: small-caps;
}

ul.nav > li {
    display: inline;
}

ul.nav > li + li {
    margin-left: 10px;
}

ul.nav > li > a {
    display: inline-block;
}

ul.nav > li > a > img {
    vertical-align: middle;
}

a.nav_button {
    background: #fdfdfa;
    color: #251115;
    font-size: 100%;
    padding: 2px 4px;
    border-radius: 1px;
    text-align: center;
    border: solid 1px;
    text-decoration: none;
    cursor: pointer;
}

a.nav_button:hover {
    background: #F8D673;
}

.intro {
    position: relative;
}

.intro > img {
    width: 100%;
    height: auto;
    margin: 0 0;
    margin-top: -5px;
    display: block;
}
.intro > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.intro h1 {
    margin: 0;
    font-size: 140%;
    color: black;
    background-color: rgba(255, 255, 255, 0.95);
    border: solid 0.5mm;
    border-radius: 1px;
    border-color: rgba(255, 0, 188, 1.0);

    left: 10%;
    width: 80%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.intro h1 > span {
    padding: 5mm 5mm;
    display: block;
}

h2 {
    font-size: 120%;
}

.features li, .download-links li {
    padding: 0.3mm 0;
}

.download-links .preferred::before {
    content: "for your platform: ";
    font-variant: small-caps;
}

.embed-header {
    border: 1mm solid black;
    font-size: 120%;
    font-variant: small-caps;
    padding: 0mm 2mm;
    padding-top: 1mm;
    margin: 0;
}

pre {
    border: 0.2mm gray dashed;
    padding: 5mm;
}

h2 {
    color: #996103; font-weight: bold;
}

h3 {
    color: #996103; font-weight: bold;
    font-size: 100%;
}

/* Separates the links apart a bit, to be mobile friendly */
ul {
    line-height: 150%;
}

/* The code samples are bit nicer to handle if you can scroll in them. */
pre {
    overflow-x: overlay;
}

/* The tab system in the module index */
#tabbed-content > input {
    visibility: hidden;
    height: 2.5em;
}

#tabbed-content label {
    display: block; float: left;
    line-height: 2.5em;
    background-color: #ccc;
    padding: 0 1.5em;
    margin-right: 0.25em;
    margin-top: 1ex;
}

#tabbed-content input:hover + label {
    background-color: #ddd;
}

#tabbed-content input:checked + label {
    background-color: #aaa;
}

#tabbed-content > div {
    display: none;
}

#tabbed-content input#tab-module:checked ~ #module-tab-content,
#tabbed-content input#tab-search:checked ~ #search-tab-content {
    clear: both;
    display: block;
}

input.search {
    margin-top: 1em;
}

/* Something to point out reference boxes apart. */
div.reference-box {
    margin: 1em 0;
    padding: 1em;
    border: 0.4mm solid #949e85;
}

a.reference {
    text-decoration: none;
}

.status::before {
    content: "status: ";
    font-variant: small-caps;
}
