ul.buttons {
    margin: 0;
    padding: 0;
}

ul.buttons > li {
    display: inline;
}

ul.buttons > li > a {
    display: inline-block;
    background: #F1D370;
    color: #1515B7;
    font-size: 140%;
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 0.5em;
    margin-right: 0.5em;
    width: 28ex;
    text-align: center;
}

ul.buttons > li > a:hover {
    background: #F8D673;
}
